<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cabecera_sesion.css' %}">
</head>

<body>
    <div class="header">
        <a href="{% url 'sesion' %}">Inicio</a>
        <a href="{% url 'carpetas' %}">Carpetas Imágenes</a>
        <a href="/">Cerrar Sesión</a>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>