/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #c86fc9ff;
    margin: 0;
    padding: 0;
}

/* Estilo para el contenedor principal */
.container {
    max-width: 800px;
    margin: 80px auto 20px auto;  /* Agrega un margin-top para que el contenido no quede debajo de la cabecera */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para los encabezados */
h1 {
    text-align: center;
    color: #333;
}

/* Estilo para la cabecera */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c86fc9ff;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 2000;  /* Asegura que esté por encima de todo el contenido */
}

/* Estilos para los enlaces de la cabecera */
.header a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.header a:hover {
    text-decoration: underline;
}

/* Estilo para la lista */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Estilo para el pie de página */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    margin: 0 auto;
    max-width: 800px;
}

/* Responsivo */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
        margin-top: 80px; /* Asegúrate de que el margen superior también se ajuste en pantallas pequeñas */
    }
}
